@using LoowooTech.Artemisinine.Models
@using LoowooTech.Artemisinine.Common
@{
    ViewBag.Title = "动态图层";
    Layout = "~/Views/Map/_Layout.cshtml";
    List<int> Years = ViewBag.List;

}
<style>
    body, #map { margin: 0; padding: 0; background-color: black; }
    #map_zoom_slider { top: 90px; }
    #Search { display: block; position: absolute; z-index: 2; top: 70px; left: 20px; }
    #HomeButton { position: absolute; top: 115px; left: 20px; z-index: 50; }
    #timeInfo { border-radius: 4px; display: block; padding: 5px; position: absolute; top:65px; left:80px; text-align: center; width: 1000px; z-index: 99; }
    #menu { position: absolute; z-index: 2; top: 225px; left: 20px; }
    .blurInfo { position: absolute; top: 10px; right: 5px; font-size: 1.25em; font-family: monospace; color: #4C4C4C; width: 240px; background-color: #FFFFFF; padding: 10px; border: 2px solid #57585A; border-radius: 20px; }
        .blurInfo p span { background-color: #FFFFFF; padding: 0 5px; border-radius: 5px; }
        .blurInfo input[type=range] { width: 100%; display: block; }
    .chart-panel { position: absolute; bottom: 0px; background-color: rgba(255, 255, 255, 0.22); height: 150px; }
    .chart { float: left; display: block; height: inherit; border:solid 1px #808080;color:#999;}

    .dijitRuleMark,.dijitSliderBar{border-color: white;}
</style>
<script src="~/Maps/Info.js"></script>
<script src="~/Scripts/Dynamic.js"></script>
<script src="~/Scripts/jquery.shCircleLoader-min.js"></script>
<script>
    $(function () {
        $("#blurInfo").hide();
        $("#loader").shCircleLoader({ color: "Red" });
    })
</script>
<div id="HomeButton"></div>
<div id="Search"></div>
<div id="menu">
    <div class="form-group">
        <label for="" class="control-label">图层：</label>
        <select class="form-control" id="MapType">
            @foreach (MapType maptype in Enum.GetValues(typeof(MapType)))
            {
                <option value="@(maptype.ToString())">@(maptype.GetDescription())</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="" class="control-label">疾病类型：</label>
        <select class="form-control" id="SickType">
            @foreach (Sick sicktype in Enum.GetValues(typeof(Sick)))
            {
                <option value="@(sicktype.ToString())">@(sicktype.ToString())@(sicktype.GetDescription())</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="" class="control-label">统计图类型：</label>
        <select class="form-control" id="chartmode">
            @foreach (ChartMode mode in Enum.GetValues(typeof(ChartMode)))
            {
                <option value="@(mode.ToString())">@(mode.GetDescription())</option>
            }
        </select>
    </div>
</div>
<div class="chart-panel">
    <div id="chart1" class="chart">
        <h4>疾病数据列表</h4>
    </div>
    <div id="chart2" class="chart">
        <h4>统计图</h4>
    </div>
    <div id="chart3" class="chart">
        <h4>数据分析</h4>
    </div>
    <div id="chart4" class="chart">

    </div>
</div>
<div id="map" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'">
    <div id="HomeButton"></div>
</div>
<div class="blurInfo" id="blurInfo">
    <p>
        <label for="valueControl">Weight by Data</label>
        <input id="valueControl" type="checkbox" checked />
    </p>
    <p>Blur Radius:<span id="blurValue">10</span></p>
    <input id="blurControl" type="range" max="30" min="0" value="10" step="1" />
    <p>Max Value:<span id="maxValue">100</span></p>
    <input id="maxControl" type="range" max="500" min="0" value="100" step="1" />
    <p>Min Value:<span id="minValue">0</span></p>
    <input id="minControl" type="range" max="500" min="0" value="0" step="1" />
</div>
<div id="bottomPanel">
    <div id="timeInfo">
        <div>当前日期为：<span id="modern"></span></div>
        <div id="timeSliderDiv"></div>
        <div id="timeSliderDivAA"></div>
        <div id="timeSliderDivRabies"></div>
    </div>
</div>
<script>
    $(function () {
        var headerHeight = $("#header").height();
        var footerHeight = $("#footer").height();
        var clientHeight = document.documentElement.clientHeight;
        var mapHeight = clientHeight - headerHeight - footerHeight;
        console.log(headerHeight);
        console.log(footerHeight);
        console.log(clientHeight);
        console.log(mapHeight);
        $("#map").height(mapHeight);
    });
</script>