@{
    ViewBag.Title = "上传疾病数据历史";
    List<UploadFile> List = ViewBag.List;
    int Serial = 1;
}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">@(ViewBag.Title)</div>
        <div class="panel-body">
            <table class="table table-bordered">
                <tr>
                    <th>序号</th>
                    <th>文件名</th>
                    <th>上传日期</th>
                    <th>疾病事件</th>
                    <th>数据读取状态</th>
                </tr>
                @foreach (var item in List)
                {
                    <tr>
                        <td>@(Serial++)</td>
                        <td>@(item.FileName)</td>
                        <td>@(item.CreateTime)</td>
                        <td>@(item.Thing)</td>
                        <td>@(item.State.GetDescription())</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>